<%= form_tag admin_county_ufs_path, method: :get do |f| %>

  <div class="form-row">
    <div class="form-group col-md-5">
      <%= select_tag :county_id, options_for_select(@counties), :include_blank => "Comuna", :class => "form-control" %>
    </div>
    <div class="form-group col-md-5">
      <%= select_tag :property_type_id, options_for_select(@property_types), :include_blank => "Tipo de Propiedad", :class => "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= submit_tag t('menu.county_uf.search'), :class => "btn btn-primary" %>
    </div>
  </div>

<% end %>
