<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poi_subcategory.name %>
</p>

<%= link_to 'Edit', edit_poi_subcategory_path(@poi_subcategory) %> |
<%= link_to 'Back', poi_subcategories_path %>
