<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Cantidad</b>
    <button class="close" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse1">
    <div class="card-body" id="body1">
      <canvas id="chartCantidad"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Superficie Útil</b>
    <button class="close" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse2">
    <div class="card-body">
      <canvas id="chartSupUtil"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Precio Unitario Útil</b>
    <button class="close" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse3">
    <div class="card-body">
      <canvas id="chartPrecioUnitario"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Volumen de Mercado (Uf miles)</b>
    <button class="close" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse4">
    <div class="card-body">
      <canvas id="chartVolMercado"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Superficie Útil</b>
    <button class="close" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse5">
    <div class="card-body">
      <canvas id="chartSupUtil-barras"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Precio</b>
    <button class="close" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse6">
    <div class="card-body">
      <canvas id="chartPrecio-barras"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Precio Unitario Útil</b>
    <button class="close" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse7">
    <div class="card-body">
      <canvas id="chartPrecioUnitario-barras"></canvas>
    </div>
  </div>
</div>

<div class="chart-container card text-light bg-primary m-0 mb-3">
  <div class="card-header pl-3">
    <b>Superficie por UF</b>
    <button class="close" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8" aria-label="Minimize">
      <i class="fas fa-window-minimize" style="width: 24px; height: 12px"></i>
    </button>
  </div>
  <div class="collapse show" id="collapse8">
    <div class="card-body">
      <canvas id="chartSupUF"></canvas>
    </div>
  </div>
</div>
