<div class="col-3 px-1">
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Cantidad</b>
    </div>
    <div class="card-body" id="body1">
      <canvas id="chartCantidad"></canvas>
    </div>
  </div>
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Superficie por UF</b>
    </div>
    <div class="card-body">
      <canvas id="chartSupUF"></canvas>
    </div>
  </div>
</div>

<div class="col-3 px-1">
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Superficie Útil</b>
    </div>
    <div class="card-body">
      <canvas id="chartSupUtil"></canvas>
    </div>
  </div>
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Superficie Útil</b>
    </div>
    <div class="card-body">
      <canvas id="chartSupUtil-barras"></canvas>
    </div>
  </div>
</div>

<div class="col-3 px-1">
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Precio Unitario Útil</b>
    </div>
    <div class="card-body">
      <canvas id="chartPrecioUnitario"></canvas>
    </div>
  </div>
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Precio</b>
    </div>
    <div class="card-body">
      <canvas id="chartPrecio-barras"></canvas>
    </div>
  </div>
</div>

<div class="col-3 px-1">
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Volumen de Mercado (Uf miles)</b>
    </div>
    <div class="card-body">
      <canvas id="chartVolMercado"></canvas>
    </div>
  </div>
  <div class="chart-container card text-light bg-primary m-0 mb-3">
    <div class="card-header pl-3">
      <b>Precio Unitario Útil</b>
    </div>
    <div class="card-body">
      <canvas id="chartPrecioUnitario-barras"></canvas>
    </div>
  </div>
</div>
