<div class="col-12 d-none select-box p-0 border border-light" id="select-box">
  <div class="bg-1">
    <div class="container">
      <div class="row d-flex align-items-center">

        <div class="col-3 px-1 my-1 text-center">
          <div class="form-group">
            <p class="mb-1">Tipo Propiedad</p>
            <select class="form-control form-control-sm" id="prop_type" multiple></select>
          </div>
        </div>

        <div class="col-3 px-1 my-1 text-center">
          <div class="form-group">
            <p class="mb-1">Tipo Vendedor</p>
            <select class="form-control form-control-sm" id="seller_type" multiple></select>
          </div>
        </div>

        <div class="col-3 px-1 my-1 text-center">
          <div class="form-group">
            <p class="mb-1">Normativa</p>
            <select class="form-control form-control-sm" id="land_use" multiple></select>
          </div>
        </div>

        <div class="col-3 px-1 my-1 text-center">
          <button class="btn btn-secondary" data-flex-filter onclick="getFilteredData();">Filtrar</button>
        </div>

        <div class="col-12 my-1 text-center">
          <p class="mb-0">Rango Fechas Inscripciones</p>
          <input type="range" class="js-range-slider w-100" id="insc_date">
        </div>

        <div class="col-6 my-1 text-center">
          <label for="building_surfaces" class="form-label mb-0">Rango Superficie Útil</label>
          <input type="range" class="js-range-slider w-100" id="building_surfaces">
        </div>

        <div class="col-6 my-1 text-center">
          <p class="mb-0">Rango Superficie Terreno</p>
          <input type="range" class="js-range-slider w-100" id="t_surface">
        </div>

        <div class="col-6 my-1 text-center">
          <p class="mb-0">Rango Precio UF</p>
          <input type="range" class="js-range-slider w-100" id="price">
        </div>

        <div class="col-6 my-1 text-center">
          <p class="mb-0">Rango Precio UFm2</p>
          <input type="range" class="js-range-slider w-100" id="u_price">
        </div>
      </div>
    </div>
  </div>
</div>
