<div class="my-4">
  <div class="form-group">
    <div class="row">
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Tipo" name="tipo"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Dirección" name="direccion"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Comuna" name="comuna"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Rol" name="rol"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Foja" name="foja"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Fecha" name="fecha"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Vendedor" name="vendedor"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Util(m2)" name="util(m2)"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Terreno" name="terreno"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="#E" name="#e"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="#B" name="#b"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="UF" name="uf"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="UF(m2)" name="uf(m2)"></div>
      <div class="col-md-3 mb-2">
        <input type="text" class="user_data form-control" placeholder="Año" name="año"> <br></div>
    </div>
  </div>
</div>
