<table id="table" class="table table-bordered">
  <thead class="bg-table-head">
  <tr>
    <th scope="col" class="noExl">N</th>
    <th scope="col">Tipo de Propiedad</th>
    <th scope="col">Año de Inscripción</th>
    <th scope="col" id="address_sort">Dirección &#9660;</th>
    <th scope="col">Comuna</th>
    <th scope="col">Vendedor</th>
    <th scope="col" id="utilm2_sort">Util(m2) &#9660;</th>
    <th scope="col">Terreno</th>
    <th scope="col" id="e_sort">#E &#9660;</th>
    <th scope="col">#B</th>
    <th scope="col" id="uf_sort">UF &#9660;</th>
    <th scope="col" class="hidden"><small>Rol</small></th>
    <th scope="col" class="hidden"><small>Foja</small></th>
    <th scope="col" class="hidden"><small>#</small></th>
    <th scope="col" class="hidden"><small>Fecha</small></th>
    <th scope="col" class="hidden"><small>UF(m2)</small></th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-celeste">
    <td colspan="16" class="w-100 text-center"><b>DATOS DE MI PROPIEDAD</b></td>
  </tr>
  </tbody>
</table>