<table id="table" class="table table-bordered">
  <thead class="bg-table-head">
  <tr>
    <th scope="col"><small>N</small></th>
    <th scope="col"><small>Tipo de Propiedad</small></th>
    <th scope="col"><small>Año de Inscripción</small></th>
    <th scope="col" id="address_sort"><small>Dirección</small></th>
    <th scope="col"><small>Comuna</small></th>
    <th scope="col"><small>Vendedor</small></th>
    <th scope="col" id="utilm2_sort"><small>Util(m2)</small></th>
    <th scope="col"><small>Terreno</small></th>
    <th scope="col" id="e_sort"><small>#E</small></th>
    <th scope="col"><small>#B</small></th>
    <th scope="col" id="uf_sort"><small>UF</small></th>
    <th scope="col" class="hidden"><small>Rol</small></th>
    <th scope="col" class="hidden"><small>Foja</small></th>
    <th scope="col" class="hidden"><small>#</small></th>
    <th scope="col" class="hidden"><small>Fecha</small></th>
    <th scope="col" class="hidden"><small>UF(m2)</small></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="16" class="w-100 text-center"><b>DATOS DE MI PROPIEDAD</b></td>
  </tr>
  </tbody>
</table>