<table id="table" class="table table-bordered">
  <thead class="bg-table-head">
  <tr>
    <th scope="col" class="noExl">N</th>
    <th title="Tipo de Propiedad" scope="col">Tipo</th>
    <th title="Fecha de Inscripción" scope="col">Inscrip</th>
    <th title="Dirección" scope="col" id="address_sort">Dir &#9660;</th>
    <th title="Tipo de Vendedor" scope="col">Vend</th>
    <th title="Superficie Útil (m2)" scope="col" id="utilm2_sort">U m² &#9660;</th>
    <th title="Superficie Terreno (m2)" scope="col">T m²</th>
    <th title="Estacionamientos" scope="col" id="e_sort">#E &#9660;</th>
    <th title="Bodegas" scope="col">#B</th>
    <th title="Precio" scope="col" id="uf_sort">UF &#9660;</th>
    <th scope="col" class="hidden"><small>Rol</small></th>
    <th scope="col" class="hidden"><small>Foja</small></th>
    <th scope="col" class="hidden"><small>#</small></th>
    <th scope="col" class="hidden"><small>Fecha</small></th>
    <th scope="col" class="hidden"><small>UF(m2)</small></th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-celeste">
    <td colspan="16" class="w-100 text-center">
      <input class="form-check-input float-left m-0" type="checkbox" id="sel-box">
    </td>
  </tr>
  </tbody>
</table>
