<div id="alerts"></div>
<div class="bg-white flex-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 p-0">
        <div class="col-12 p-0 map-box">
          <div id="map_flex"></div>
        </div>
        <div class="col-12 p-0" id="intro">
          <div class="d-flex justify-content-center align-items-center bg-1 h-100">
            <div class="container">
              <p class="text-center">Seleccione en el mapa</p>
            </div>
          </div>
        </div>
        <%= render 'flex/dashboards/filters' %>
      </div>
      <div class="col-xl-8 p-0 bg-dark">
        <div class="col-md-12 table-box p-0">
          <div class="container-fluid mh-1248">
            <%= render 'flex/dashboards/table' %>
            <div class="mb-5">
              <%= link_to "Nuevo", new_flex_dashboard_path(), remote: true, class: "btn btn-warning ml-2" %>
              <button class="btn btn-secondary" onclick="genCharts();">Generar</button>
              <button class="btn btn-secondary" onclick="exportToExcel();downloadPDF();">Descargar</button>
              <button onclick="clearTable();" class="btn btn-danger">Limpiar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'flex/dashboards/charts' %>
  </div>
</div>

