<div class="bg-blue flex-dashboard">
  <div class="container-fluid">
    <div class="row pt-1">
      <div class="col-md-6 map-box">
        <div id="map_flex"></div>
      </div>
      <div class="col-md-6" id="intro">
        <div class="d-flex justify-content-center align-items-center bg-1 h-100">
          <div class="container">
            <p class="text-center">Seleccione en el mapa</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-none select-box" id="select-box">
        <div class="bg-1 m-1">
          <div class="container">
            <div class="row pt-3 d-flex align-items-center">
              <div class="col-4 my-2 text-center">
                <div class="form-group">
                  <p>Tipo de propiedad</p>
                  <select class="form-control" id="prop_type" multiple></select>
                </div>
              </div>
              <div class="col-4 my-2 text-center">
                <div class="form-group">
                  <p>Vendedor</p>
                  <select class="form-control" id="seller_type" multiple></select>
                </div>
              </div>
              <div class="col-4 my-2 text-center">
                <div class="form-group">
                  <p>Densidad</p>
                  <select class="form-control" id="density_type" multiple></select>
                </div>
              </div>
              <div class="col-12 my-2 text-center">
                <p class="mb-0">Fecha de inscripción</p>
                <input type="range" class="js-range-slider w-100" id="insc_date">
              </div>
              <!--<div class="col-8 my-2 text-center">
                <p>Fecha de inscripción</p>
              </div>-->

              <div class="col-12 my-2 text-center">
                <p class="mb-0">Zona normativa</p>
                <input type="range" class="js-range-slider w-100" id="zone">
              </div>
              <!--<div class="col-8 my-2 text-center">
                <p>Zona normativa</p>
              </div>-->

              <div class="col-12 my-2 text-center">
                <p class="mb-0">Altura máxima</p>
                <input type="range" class="js-range-slider w-100" id="max_height">
              </div>

              <div class="col-12 my-2 text-center">
                <p class="mb-0">Superficie</p>
                <input type="range" class="js-range-slider w-100" id="surface">
              </div>
              <!--<div class="col-8 my-2 text-center">
                <p>Superficie</p>
              </div>-->
              <div class="col-12 my-2 text-center">
                <p class="mb-0">Superficie terreno</p>
                <input type="range" class="js-range-slider w-100" id="t_surface">
              </div>
              <!--<div class="col-8 my-2 text-center">
                <p>Superficie terreno</p>
              </div>-->
              <div class="col-12 my-2 text-center">
                <p class="mb-0">Precio</p>
                <input type="range" class="js-range-slider w-100" id="price">
              </div>
              <!--<div class="col-8 my-2 text-center">
                <p>Precio</p>
              </div>-->
              <div class="col-12 my-2 text-center">
                <p class="mb-0">Precio unitario</p>
                <input type="range" class="js-range-slider w-100" id="u_price">
              </div>
              <div class="col-12 my-2 text-center">
                <button class="btn btn-secondary" onclick="getFilteredData();">Filtrar</button>
              </div>
              <!--<div class="col-8 my-2 text-center">
                <p>Precio unitario</p>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 table-box">
        <div class="mt-1">
          <div class="container-fluid mh-726">
            <table id="table" class="table table-bordered">
              <thead class="bg-table-head">
              <tr>
                <th scope="col"><small>N</small></th>
                <th scope="col"><small>Tipo</small></th>
                <th scope="col"><small>Dirección</small></th>
                <th scope="col"><small>Comuna</small></th>
                <th scope="col"><small>Rol</small></th>
                <th scope="col"><small>Foja</small></th>
                <th scope="col"><small>#</small></th>
                <th scope="col"><small>Fecha</small></th>
                <th scope="col"><small>Vendedor</small></th>
                <th scope="col"><small>Util(m2)</small></th>
                <th scope="col"><small>Terreno</small></th>
                <th scope="col"><small>#E</small></th>
                <th scope="col"><small>#B</small></th>
                <th scope="col"><small>UF</small></th>
                <th scope="col"><small>UF(m2)</small></th>
                <th scope="col"><small>Año</small></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td colspan="16" class="w-100 text-center"><b>DATOS DE MI PROPIEDAD</b></td>
              </tr>
              </tbody>
            </table>
            <div class="my-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Tipo" name="tipo"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Dirección" name="direccion"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Comuna" name="comuna"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Rol" name="rol"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Foja" name="foja"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Fecha" name="fecha"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Vendedor" name="vendedor"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Util(m2)" name="util(m2)"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Terreno" name="terreno"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="#E" name="#e"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="#B" name="#b"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="UF" name="uf"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="UF(m2)" name="uf(m2)"></div>
                  <div class="col-md-3 mb-2">
                    <input type="text" class="user_data form-control" placeholder="Año" name="año"> <br></div>
                </div>
              </div>
            </div>
            <div class="mb-5">
              <button class="btn btn-secondary" onclick="genCharts();">Generar</button>
              <button class="btn btn-success" id="exportToExcel">Descargar</button>
              <button onclick="clearTable();" class="btn btn-danger">Limpiar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-1 bg-white">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="false" data-interval="false">
          <div class="carousel-inner">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <div class="carousel-item active">
              <div class="row">
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Cantidad</p>
                  <canvas id="chartCantidad"></canvas>
                </div>
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Superficie útil</p>
                  <canvas id="chartSupUtil"></canvas>
                </div>
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Precio</p>
                  <canvas id="chartPrecio"></canvas>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Precio unitario</p>
                  <canvas id="chartPrecioUnitario"></canvas>
                </div>
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Volumen mercadeo</p>
                  <canvas id="chartVolMercado"></canvas>
                </div>
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Superficie útil</p>
                  <canvas id="chartSupUtil-barras"></canvas>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Precio</p>
                  <canvas id="chartPrecio-barras"></canvas>
                </div>
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Precio unitario</p>
                  <canvas id="chartPrecioUnitario-barras"></canvas>
                </div>
                <div class="col-4">
                  <p class="text-center bg-dark text-white">Superficie por UF</p>
                  <canvas id="chartSupUF"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

