<h1>Editing Project Instance Mix</h1>

<%= render 'form', project_instance_mix: @project_instance_mix %>

<%= link_to 'Show', @project_instance_mix %> |
<%= link_to 'Back', project_instance_mixes_path %>
