<% if @flex_report.errors.any? %>
    $("#somediv").empty()
  <% @flex_report.errors.each do |key, value| %>
    $("#somediv").append('<div class="text-danger"><%= I18n.t("flex_report.#{key}") %> <%= raw (value)%></div>')
<% end %>
<% else %>
    window.location.assign("<%= flex_flex_reports_graphs_path(locale: 'es', id: @flex_report.id) %>")
<% end %>
