<h1>DownloadsUsers#index</h1>

<table class="table">
  <tr>
    <th>Titulo</th>
    <th>CBR</th>
    <th>PRV</th>
    <th>EM</th>
  </tr>
    <% @downloads_users.each do |du| %>
  <tr>
      <td><%= du.title %></td>
      <td><%= du.transactions %></td>
      <td><%= du.projects %></td>
      <td><%= du.future_projects %></td>
    <% end %>
  </tr>
</table>
