<div class="modal fade" id="modal-colleagues" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg " role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Usuarios</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= simple_form_for( :share_users, url: application_statuses_share_users_path(), method: "Get", html: { remote: true}) do |f| %>

        <div class="modal-body modal-overflow">
          <%= f.input :row_to_share, as: :hidden, input_html: {value:@row_to_share} %>
          <p class="offset-md-3">Seleccione uno o más usuarios:</p>
          <%= f.input :ids, collection: @colleagues, label: false, input_html: {class:"form-control col-md-6 offset-md-3", multiple: true, size: 20} %>
        </div>
        
        <div class="modal-footer">
          <%= f.submit class: 'btn btn-primary', value: "Compartir" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
