<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @census_source.name %>
</p>

<%= link_to 'Edit', edit_census_source_path(@census_source) %> |
<%= link_to 'Back', census_sources_path %>
