<div id="alerts"></div>
<div id="map"></div>
<div class="report" style="width: 720px;">
  <div id="chart-report-3">
    <canvas id="report-canvas-3"></canvas>
  </div>
  <div id="chart-report-4">
    <canvas id="report-canvas-4"></canvas>
  </div>
  <div id="chart-report-5">
    <canvas id="report-canvas-5"></canvas>
  </div>
  <div id="chart-report-6">
    <canvas id="report-canvas-6"></canvas>
  </div>
  <div id="chart-report-7">
    <canvas id="report-canvas-7"></canvas>
  </div>
</div>
