<div id="alerts"></div>
<div id="map"></div>

<div class="report" style="width: 720px;">
  <div id="chart-report-1">
    <canvas id="report-canvas-1"></canvas>
  </div>
  <div id="chart-report-2">
    <canvas id="report-canvas-2"></canvas>
  </div>
  <div id="chart-report-3">
    <canvas id="report-canvas-3"></canvas>
  </div>
  <div id="chart-report-4">
    <canvas id="report-canvas-4"></canvas>
  </div>
  <div id="chart-report-5">
    <canvas id="report-canvas-5"></canvas>
  </div>
  <div id="chart-report-6">
    <canvas id="report-canvas-6"></canvas>
  </div>
  <div id="chart-report-7">
    <canvas id="report-canvas-7"></canvas>
  </div>
  <div id="chart-report-8">
    <canvas id="report-canvas-8"></canvas>
  </div>
  <div id="chart-report-9">
    <canvas id="report-canvas-9"></canvas>
  </div>
  <div id="chart-report-10">
    <canvas id="report-canvas-10"></canvas>
  </div>
</div>

<div id="leaflet_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-light">

      <div class="modal-body">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Información</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="verif-tab" data-toggle="tab" href="#verif" role="tab" aria-controls="verif" aria-selected="false">Verificación de Datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="equip-tab" data-toggle="tab" href="#equip" role="tab" aria-controls="equip" aria-selected="false">Equipamiento y Servicios</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div id="popup_info"></div>
          </div>
          <div class="tab-pane fade" id="verif" role="tabpanel" aria-labelledby="verif-tab">

          </div>
          <div class="tab-pane fade" id="equip" role="tabpanel" aria-labelledby="equip-tab">
            <div id="popup_equip"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
