html,
body {
  height: 100%;
}

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 93vh;
}

.overlay {
  height: 93vh;
  width: 400px;
  position: absolute;
  right: 0px;
  z-index: 401;
  background-color: rgba(23, 32, 42, 0.1);
  pointer-events: auto;
  overflow: auto
}

// Signin
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//Signin colours
.btn-primary {
  color: #fff;
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: #c0392b !important;
  border-color: #c0392b !important;
}
a {
  color: #e74c3c !important;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #c0392b !important;
  text-decoration: underline;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.4) !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(231, 76, 60, 0.4) !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.4) !important;
}

// Quita caret de dropdown del nav principal
.nocaret::after {
  display:none !important;
}

//Dropdown Navbar 1
div.dropdown-menu-navbar1.show {
  min-width: unset;
  width: 60px;
  z-index: 402;
}
.dropdown-item-navbar1 { // alineacion iconos dentro de dropdown
  text-align: center !important;
  padding: 0.5rem !important;
}
#dropdown-navbar-1 { // espacio entre iconos navbar
  margin-left: 5px;
  width: 50px
}

// Navbar height
.navbar {
  padding: 0.25rem !important;
}

//Charts
.card {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.fa-window-minimize {
  font-size: 12px;
}
