html,
body {
  height: 100%;
}

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 93vh;
}

#map_flex {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 56vh;
}

.admin_map_transactions {
  position: relative;
  height: 35vh;
}
.admin_map_projects {
  position: relative;
  height: 65vh;
}
.overlay {
  height: 93vh;
  width: 400px;
  position: absolute;
  right: 0px;
  z-index: 401;
  background-color: rgba(23, 32, 42, 0.3);
  pointer-events: auto;
  overflow-y: scroll;
}

// Signin
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Dropdown Dashboard Navbar
div.custom-menu.show {
  min-width: unset;
  width: 60px;
  z-index: 402;
}
.custom-item { // Alineación y tamaño de los iconos del dropdown-menu
  text-align: center !important;
  height: 48px;
  padding: 0.3rem !important;
}
.item-submenu {
  width: 80% !important;
  margin-right: 10%;
  margin-left: 10%;
}
.dropdown-width { // Espacio entre botones del navbar
  width: 60px
}
.nocaret::after { // Quita caret de dropdown del nav principal
  display:none !important;
}

// Multi level dropdown menu
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

//Charts
.card {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.card-body {
  font-size: 0.8rem !important;
  padding-bottom: 10px !important;
}
.fa-window-minimize {
  font-size: 12px;
}
.list-overflow {
  height: 205px;
  overflow: auto;
}

// Alert
.alert {
  position: absolute !important;
  z-index: 9999 !important;
}
#alerts {
  justify-content: center;
  display: flex;
}

// Pagination
.pagination {
    font-size: 12px;
}
.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}
.pagination a {
    color: #e8ebef;
}
.pagination a:hover {
    background: #44a5ce none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #58b9e2;
    color: #000;
}
.pagination a:active {
    text-shadow: none;
    color: #000;
}
.pagination .current {
    background: #44a5ce none repeat scroll 0 0;
    color: #000;
    text-shadow: 1px 1px 1px #58b9e2;
}
.pagination .disabled {
    color: #798088;
}

// Overflow modal
.modal-overflow {
  overflow-y: scroll;
  height: 70vh;
}

// Slider flat
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single { // label
    color: e8ebef !important;
    background-color: #58b9e2 !important;
}
.irs--flat .irs-bar { // barra
    background-color: #58b9e2 !important;
}
.irs--flat .irs-grid-text { // texto
    color: #e8ebef !important;
}
.irs--flat .irs-grid-pol { // regla
    background-color: #e8ebef !important;
}
.irs--flat .irs-line { // barra fondo
    background-color: #e8ebef !important;
}
.irs--flat .irs-min, .irs--flat .irs-max { // label fondo
    color: #798088 !important;
    background-color: #e8ebef !important;
}
.irs--flat .irs-handle>i:first-child { // límite
    background-color: #44a5ce !important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before { // label triángulo
    border-top-color: #58b9e2 !important;
}

// Quita el color de la barra en el time_slider
#time_slider_item > span > span.irs-bar.irs-bar--single {
  background-color: transparent !important;
}

// Handle para drag&drop
.handle {
  padding: 4px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: move;
}

// Card Maximizado
.card-max {
  display: block;
  z-index: 9999;
  position: fixed;
  width: auto;
  height: auto;
  top: 11% !important;
  right: 17% !important;
  left: 17% !important;
  bottom: auto !important;
}

// Estilos para flex

#cantidad-registros-tabla {
  margin-right: 15px;
  text-decoration: underline;
}
.button-panel {
  position: absolute;
  bottom: 0;
}
.btn {
  &-gris {
    background-color: #e3e3e3 !important;
    color: #000 !important;
  }
  &-oscuro {
    background-color: #373737 !important;
    border: 1px solid #e3e3e3 !important;
    color: #fff !important;
  }
  &-rosa {
    background-color: #ed36be !important;
    border: 1px solid #e3e3e3 !important;
    color: #fff !important;
  }
}
.flex-dashboard {
  .hidden {
    display: none;
  }

  #sel-box {
    display: none;
  }

  .bg-white {
    background: #e3e3e3;
  }
  .bg-1 {
    background-color: #373c40;
  }

  .bg-celeste {
    background-color: #45feed;
    color: #000;
  }

  .bg-table-head {
    background-color: #373c40;
  }

  .table {
    color: #fff !important;
  }
  .table-bordered {
    th, td {
      border: 1px solid #373c40;
    }
  }

  .form-check-input {
    position: unset;
    margin-left: unset;
  }
  .table-bg1 {
    background-color: #a6dfff;
  }
  .table-bg2 {
    background-color: #5eb3e3;
  }

  .overflow-scroll {
    overflow: scroll;
  }

  .h-330 {
    height: 330px;
  }

  .mh-330 {
    max-height: 330px;
  }

  .mh-350 {
    max-height: 350px;
  }
  .carousel-control-next, .carousel-control-prev {
    height: 22px;
    width: 23px;
    background-color: #5eb3e3;
    border: 1px solid #000;
  }

  .table-box {
    .mh-1248 {
      max-height: 56vh;
      overflow-y: auto;
      padding: 0;
    }
    thead {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    th {
      font-size: 11px;
      padding: 5px
    }
    td {
      font-size: 10px;
      padding: 2px
    }
    #address_sort, #utilm2_sort, #e_sort, #uf_sort {
      &:hover {
        color: #45FEED;
        cursor: pointer;
      }
    }
    .input-checkbox {
      background-color: #45feed;
    }
    td {
      color: #000;
      &:not(:first-of-type) {
        background-color: #e3e3e3;
      }
    }
  }

  .map-box {
    padding: 0 15px;
  }

  .select-box {
    p, .multiselect.dropdown-toggle.custom-select {
      font-size: 14px;
    }
    .multiselect.dropdown-toggle.custom-select {
      .multiselect-selected-text {
        max-width: 160px;
        display: inline-block;
        overflow-x: hidden;
      }
    };
    height: 56vh;
    overflow: hidden;
  }

  .irs {
    z-index: 1;
  }

  .irs-with-grid .irs-grid {
    display: none;
  }

  .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single,
  .irs--flat .irs-line {
    background-color: #45feed !important;
    color: #000;
  }
}

/* ----- multiple select ----- */
span.multiselect-native-select {
  position: relative;
  select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px;
  }
}
.multiselect.dropdown-toggle:after {
  display: none;
}
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .multiselect-reset .input-group {
    width: 93%;
  }
  .multiselect-filter {
    & > .fa-search {
      z-index: 1;
      padding-left: 0.75rem;
    }
    & > input.multiselect-search {
      border: none;
      border-bottom: 1px solid lightgrey;
      padding-left: 2rem;
      margin-left: -1.625rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      &:focus {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }
    & > .multiselect-moz-clear-filter {
      margin-left: -1.5rem;
      display: none;
    }
  }
  .multiselect-option.multiselect-group-option-indented {
    padding-left: 1.75rem;
  }
  .multiselect-option,
  .multiselect-group,
  .multiselect-all {
    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  }
  .multiselect-option.dropdown-item,
  .multiselect-group.dropdown-item,
  .multiselect-all.dropdown-item,
  .multiselect-option.dropdown-toggle,
  .multiselect-group.dropdown-toggle,
  .multiselect-all.dropdown-toggle {
    cursor: pointer;
  }
  .multiselect-option .form-check-label,
  .multiselect-group .form-check-label,
  .multiselect-all .form-check-label {
    cursor: pointer;
  }
  .multiselect-option.active:not(.multiselect-active-item-fallback),
  .multiselect-group.active:not(.multiselect-active-item-fallback),
  .multiselect-all.active:not(.multiselect-active-item-fallback),
  .multiselect-option:not(.multiselect-active-item-fallback):active,
  .multiselect-group:not(.multiselect-active-item-fallback):active,
  .multiselect-all:not(.multiselect-active-item-fallback):active {
    background-color: lightgrey;
    color: black;
  }
  .multiselect-option .form-check,
  .multiselect-group .form-check,
  .multiselect-all .form-check {
    padding: 0 5px 0 20px;
  }
  .multiselect-option:focus,
  .multiselect-group:focus,
  .multiselect-all:focus {
    outline: none;
  }
}
.form-inline .multiselect-container span.form-check {
  padding: 3px 20px 3px 40px;
}

.input-group{
  &.input-group-sm > .multiselect-native-select .multiselect {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    padding-right: 1.75rem;
    height: calc(1.5em + 0.5rem + 2px);
  }
  & > .multiselect-native-select {
    flex: 1 1 auto;
    width: 1%;
    & > div.btn-group {
      width: 100%;
    }
    &:not(:first-child) .multiselect {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) .multiselect {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
/* -------------------------------------- */

@media (max-width: 1600px) {
  .table-bordered thead th, .table-bordered thead td {
    font-size: 13px;
  }
}

@media (max-width: 1281px) {
  .flex-dashboard .select-box p, .flex-dashboard .select-box .multiselect.dropdown-toggle.custom-select {
    font-size: 13px;
  }
}

@media (max-width: 1199px) {
  body {
    overflow: unset !important;
  }
}

// Modifica el scroll del navegador
::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(232, 235, 239, 0.5);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(72, 75, 79, 0.5);
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(232, 235, 239, 0.5);
}

// Modifica el estilo de la flecha del carousel
.flex-dashboard .carousel-control-next,
.flex-dashboard .carousel-control-prev {
  background-color: #373737;
  border: 0px;
}
