html,
body {
  height: 100%;
}

.login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#map {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 93vh;
}

#admin_map {
  position: relative;
  height: 35vh;
}
.overlay {
  height: 93vh;
  width: 400px;
  position: absolute;
  right: 0px;
  z-index: 401;
  background-color: rgba(23, 32, 42, 0.3);
  pointer-events: auto;
  overflow-y: scroll;
}

// Signin
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Dropdown Dashboard Navbar
div.custom-menu.show {
  min-width: unset;
  width: 60px;
  z-index: 402;
}
.custom-item { // Alineación y tamaño de los iconos del dropdown-menu
  text-align: center !important;
  height: 48px;
  padding: 0.6rem !important;
}
.dropdown-width { // Espacio entre botones del navbar
  width: 60px
}
.nocaret::after { // Quita caret de dropdown del nav principal
  display:none !important;
}

//Charts
.card {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.card-body {
  font-size: 0.8rem !important;
}
.fa-window-minimize {
  font-size: 12px;
}
.list-overflow {
  height: 205px;
  overflow: auto;
}

// Alert
.alert {
  position: absolute !important;
  z-index: 9999 !important;
}
#alerts {
  justify-content: center;
  display: flex;
}

// Pagination
.pagination {
    font-size: 12px;
}
.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}
.pagination a {
    color: #e8ebef;
}
.pagination a:hover {
    background: #44a5ce none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #58b9e2;
    color: #000;
}
.pagination a:active {
    text-shadow: none;
    color: #000;
}
.pagination .current {
    background: #44a5ce none repeat scroll 0 0;
    color: #000;
    text-shadow: 1px 1px 1px #58b9e2;
}
.pagination .disabled {
    color: #798088;
}

// Overflow modal
.modal-overflow {
  overflow-y: scroll;
  height: 70vh;
}

// Slider
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single { // label
    color: e8ebef !important;
    background-color: #58b9e2 !important;
}
.irs--flat .irs-bar { // barra
    background-color: #58b9e2 !important;
}
.irs--flat .irs-grid-text { // texto
    color: #e8ebef !important;
}
.irs--flat .irs-grid-pol { // regla
    background-color: #e8ebef !important;
}
.irs--flat .irs-line { // barra fondo
    background-color: #e8ebef !important;
}
.irs--flat .irs-min, .irs--flat .irs-max { // label fondo
    color: #798088 !important;
    background-color: #e8ebef !important;
}
.irs--flat .irs-handle>i:first-child { // límite
    background-color: #44a5ce !important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before { // label triánulo
    border-top-color: #58b9e2 !important;
}

// Text selection
::selection {
  background: #58b9e2;
}
::-moz-selection {
  background: #58b9e2;
}

// Handle para drag&drop
.handle {
  padding: 4px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: move;
}

// Card Maximizado
.card-max {
  display: block;
  z-index: 9999;
  position: fixed;
  width: auto;
  height: auto;
  top: 11% !important;
  right: 17% !important;
  left: 17% !important;
  bottom: auto !important;
}
