<%= form_tag admin_future_projects_path, :method => 'get' do |f| %>

<div class="form-row">
  <div class="form-group col-md-5">
    <%= select "", :future_project_type_id, future_project_types_for_select, {include_blank: 'Tipo de Fuente'}, {:class => 'form-control'} %>
  </div>
  <div class="form-group col-md-6">
    <%= select "", :project_type_id, project_types_for_select, {include_blank: 'Tipo de Proyecto'}, {:class => 'form-control'} %>
  </div>
  <div class="form-group col-md-1">
    <%= submit_tag t('menu.future_project.search'), :class => "btn btn-primary" %>
  </div>
</div>

<% end %>
