<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body class="nav-sm  dashboard">
           <%= render partial: 'layouts/header' %>             
  </body>
</html>
